body {
    font-family: 'Poppins', sans-serif;
    background: #f0f4f8;
    margin: 0;
    padding: 20px;
    transition: background 0.5s ease;
}

.card {
    background: #ffffff;
    padding: 20px;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #d1d9e6, -2px -2px 2px #ffffff;
    max-width: 500px;
    text-align: center;
}

.btn {
    background: #161616;
    border: none;
    color: beige;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #d1d9e6, -5px -5px 10px #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 7px 7px 14px #d1d9e6, -7px -7px 14px #ffffff;
}